.search_page {
    height: 550px;
    background: #fff;
}
/* 搜索框 */
input::-webkit-input-placeholder{
    color:rgb(197, 188, 188);
    font: normal 14px/20px "微软雅黑"
}
input{ outline:none; }
form {
    display: block;
    margin-top: 0em;
}
.mod_search_bar {
    background: #f4f4f4;
    padding: 10px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
}
.mod_search_bar .search_bar_cont {
    position: relative;
    border-radius: 3px;
    background: #fff;
    height: 20px;
    padding: 8px 12px 8px 35px;
    -webkit-box-flex: 1;
}
.mod_search_bar .search_input {
    height: 20px;
    width: 100%;
    color: rgba(0,0,0,.3);
    border: none;
}
/* 搜索图标 */
.mod_search_bar .icon_search {
    position: absolute;
    top: 9px;
    left: 10px;
    width: 18px;
    height: 18px;
    background-image: url(../../../assets/images/search.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -999px;
}
/* 删除 */
.mod_search_bar .icon_delete {
    position: absolute;
    top: 9px;
    right: 12px;
    width: 18px;
    height: 18px;
    background: #b1b1b1;
    text-indent: -9999px;
    border-radius: 99px;
}
.mod_search_bar .icon_delete:before {
    width: 10px;
    height: 2px;
    margin-left: -5px;
    margin-top: -1px;
}
.mod_search_bar .icon_delete:after {
    width: 2px;
    height: 10px;
    margin-left: -1px;
    margin-top: -5px;
}
.mod_search_bar .icon_delete:before, .mod_search_bar .icon_delete:after{
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 8px;
    background: #fff;
    transform: rotate(45deg);
}
/* 取消 */
.mod_search_bar .search_bar_tip_text {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
}
/* 热门搜索 */
.mod_search_result {
    background: #fff;
    padding: 15px 15px 10px 15px;
}
.mod_search_result .result_tit {
    color: rgba(0,0,0,.6);
    margin-bottom: 8px;
}
.mod_search_result .result_tags {
    font-size: 0;
}
.mod_search_result .result_tags .tag_hot {
    color: #fc4524;
    border-color: #fc4524;
}
.mod_search_result .tag_s {
    display: inline-block;
    font-size: 14px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    color: #000;
    border: 1px solid rgba(0,0,0,.6);
    border-radius: 99px;
    word-break: keep-all;
    margin-bottom: 10px;
    margin-right: 14px;
}