<div id="toplist_wrap" class="mod_topic">
    <ul>
        <li class="topic_item" *ngFor="let item of list">
            <div class="topic_main">
                <a href="javascript:;" class="topic_media">
                    <img src={{item.imgUrl}}>
                    <span class="listen_count"><i class="icon icon_listen"></i>{{item.number}}万</span>
                </a>
                <div class="topic_info">
                    <div class="topic_cont">
                        <h3 class="topic_tit">{{item.title}}</h3>

                        <p *ngFor="let item of item.lists;let i = index" >{{i+1}}<span class="text_name">{{item.textName}}</span>- {{item.author}}</p>
                    </div>
                    <i class="topic_arrow"></i>
                </div>
            </div>
        </li>
    </ul>
    <p class="topic_more"><a href="javascript:;">去客户端发现更多好音乐 &gt;</a></p>
</div>